<ul>
    <li>
        <i class="fas fa-check-circle" style="color: #9C6700;">
        </i>
        <div>
            <span>
                <a href="{% url 'signin' %}" style="text-decoration: none; color: #000000;">Sign in</a>
            </span>
            <p>
                Lorem Ipsum is simply dummy text of the
            </p>
        </div>
    </li>
    <li>
        <i class="fas fa-check-circle" style="color: #000000;">
        </i>
        <div>
            <span>
                <a href="{% url 'signup' %}" style="text-decoration: none; color: #000000;">Sign up</a>
            </span>
            <p>
                Lorem Ipsum is simply dummy text of the
            </p>
        </div>
    </li>
    <li>
        <i class="fas fa-check-circle" style="color: #ced4da;">
        </i>
        <div>
            <span>
                <a href="" style="text-decoration: none; color: #000000;">Status</a>
            </span>
            <p>
                Lorem Ipsum is simply dummy text of the
            </p>
        </div>
    </li>
    <li>
        <i class="fas fa-check-circle" style="color: #ced4da;">
        </i>
        <div>
            <span>
                <a href="{% url 'about' %}" style="text-decoration: none; color: #000000;">About</a>
            </span>
            <p>
                Lorem Ipsum is simply dummy text of the
            </p>
        </div>
    </li>
    <li>
        <i class="fas fa-check-circle" style="color: #ced4da;">
        </i>
        <div>
            <span>
                <a href="{% url 'index' %}" style="text-decoration: none; color: #000000;">Home</a>
            </span>
            <p>
                Lorem Ipsum is simply dummy text of the
            </p>
        </div>
    </li>
</ul>